<%- include('../partials/header', { token: token }) %>
    <main>
        <form action="/ToDoLists/add" method="POST">
            tytuł: <input type="text" name="title" placeholder="Tytuł notatki" required> <br>
            tresc:<textarea name="tresc" placeholder="Treść notatki" required></textarea> <br>
            status: <input type="text" id="status" name="status" required></input> <br>
            Data utworzenia: <input type="date" name="DataUtworzenia" required> <br>
            Data zakończenia: <input type="date" name="DataZakonczenia" required> <br>
            Pilne?: <input type="checkbox" name="Pilne"> <br>
            <button type="submit">Dodaj notatkę</button>
        </form>
    </main>
    <%- include('../partials/footer') %>