<%- include('../partials/header', { token: null }) %>
    <main>
        <h2>Rejestracja</h2>
        <% if (error) { %>
            <p>
                <%= error %>
            </p>
            <% } %>
                <form action="/register" method="POST">
                    <label>Podaj adres e-mail:</label>
                    <input type="email" name="email" required> <br>
                    <label>Hasło (min. 8 znaków, 1 duża litera, 1 mała litera, 1 cyfra):</label>
                    <input type="password" name="password" required minlength="8"> <br>
                    <button type="submit">Zarejestruj się</button>
                </form>
                <p>Masz już konto? <a href="/">Zaloguj się</a></p>
    </main>
    <%- include('../partials/footer') %>