<%- include('../../partials/header', { token: typeof token !=='undefined' ? token : null }) %>
    <main>
        <div>
            <h1>401 - Brak dostępu</h1>
            <p>Musisz się zalogować, aby uzyskać dostęp do tej strony.</p>
            <a href="/">Przejdź do logowania</a>
        </div>
    </main>
    <%- include('../../partials/footer') %>