<%- include('../../partials/header', { token: typeof token !=='undefined' ? token : null }) %>
    <main>
        <div>
            <h1>404 - Strona nie znaleziona</h1>
            <p>Przepraszamy, ale strona której szukasz nie istnieje.</p>
            <a href="/ToDoLists">Wróć na stronę główną</a>
        </div>
    </main>
    <%- include('../../partials/footer') %>