<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <h1>To Do List</h1>
        <nav>
            <% if (typeof token !=='undefined' && token) { %>
                <a href="/ToDoLists">Lista</a> |
                <a href="/ToDoLists/add">Dodaj Zadanie</a> |
                <a href="/logout">Wyloguj</a>
                <% } else { %>
                    <a href="/">Logowanie</a> |
                    <a href="/register">Rejestracja</a>
                    <% } %>
        </nav>
        <hr>
    </header>